.header_admin {
  background-color: #f5f5f5;
  border-bottom: 2px solid #eee;
}
.header_admin_container {
  height: 80px;
  display: flex;
  justify-content: center;
}
.header_admin_container li a p {
  color: #333;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_admin_container li a {
  height: 80px;
}
