.home {
  background-color: #fff;
  padding: 6rem 0 3rem 0;
  color: #0d1c41;
}
.home_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.home_head_h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.21em;
}
.home_head_p {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.12em;
  margin: 1rem 0;
}

/* MEDIA QUERY */

@media (max-width: 1080px) {
  .home_head_h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .home_head_p {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 600px) {
  .home_head_h1 {
    line-height: 32px;
    font-size: 24px;
  }
  .home_head_p {
    line-height: 24px;
    font-size: 12px;
    margin: 0.5rem 0;
  }
}
