*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 0.2s linear all;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d1c41;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a607a;
}
.active {
  display: none;
}
.rec-dot {
  display: none;
}
@media (max-width: 1200px) {
  .container {
    padding: 0 1.5rem;
  }
}
